all-diff-basename
all-in-src
all-in-src--diff-ext
diff-in-sub-dir
diff-in-sub-dir--subdir-deleted
diff-in-hidden-sub-dir--exclude
diff-in-hidden-sub-dir--include
src-is-empty
long-and-short-exts
long-and-short-exts--exclusions
